<div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card shadow-sm">
          <div class="card-header text-center bg-primary text-white">
            <h2 class="mb-0">Todo List</h2>
          </div>
          <div class="card-body">
            <form (ngSubmit)="addTodo()" #todoForm="ngForm">
              <div class="input-group mb-3">
                <input type="text" class="form-control" [(ngModel)]="newTodo" name="title" placeholder="Add a new todo" required>
                <button class="btn btn-primary" type="submit">Add</button>
              </div>
            </form>
            <ul class="list-group">
              <li *ngFor="let todo of todos" class="list-group-item d-flex justify-content-between align-items-center">
                <span   [class.text-decoration-line-through]="todo.isCompleted">{{ todo.task }}</span>
                <div>
                  <button 
                    class="btn btn-success btn-sm me-2" 
                    (click)="completeTodo(todo.id)" 
                    [disabled]="todo.isCompleted ">
                    Complete
                  </button>
                  <button 
                    class="btn btn-danger btn-sm" 
                    (click)="deleteTodo(todo.id)">
                    Delete
                  </button>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>